<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <h2><a routerLink="/home" class="nav-link">SimpleCRUD-Customers</a></h2>

        <ul class="navbar-nav">
            <li><a routerLink="/home" class="nav-link">Home</a></li>
            <li class="nav-link">&nbsp;&nbsp;|&nbsp;&nbsp;</li>
            <li><a routerLink="/customers" class="nav-link">Customers</a></li>
            <li class="nav-link">&nbsp;&nbsp;|&nbsp;&nbsp;</li>
            <li><a routerLink="/add" class="nav-link">Add a Customer</a></li>
        </ul>
    </nav>
</header>