<div style="height: 30px"></div>
<div class="container"><H1>Welcome!</H1></div>

<div class="container">
  <br><br>
  Welcome to SimpleCRUD.<br><br>
  This simple application demonstrates data management with the use of<br>
  Angular, BootStrap, Spring Boot, JPA and Hibernate using H2 database for<br>
  in-memory data persistence.<br><br>
  You can click on the menus above or start at <a routerLink="/customers">Customer List</a>.<br><br>
  Enjoy this demo!
</div>
<div style="height: 100px;" class="container">
</div>
